@media (max-width: 793px){
    .container{
        max-width: 750px;
    }
    .col-3{
        width: 50%;
        padding: 0 15px;
    }
}
@media (max-width: 650px) {
    .container{
        max-width: 750px;
    }
    .col-3{
        width: 50%;
        padding: 0 15px;
    }
}
@media (max-width: 550px) {
    .container{
        max-width: 350px;
    }
    .col-3{
        width: 100%;
        padding: 0 15px;
    }
}
